    /* Apply general styles to the body */
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
          color: #333;
          background-color: rgba(253, 94, 1, 0.781);
          margin: 0;
          padding: 0;
          line-height: 1.6;
      }

      /* Center the content on desktop screens */
      .container {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 100vh;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
      }

      /* Add max-width to limit the content width */
      .content {
          max-width: 800px;
          padding: 20px;
          border: 2px solid #333;
          border-radius: 10px;
          background-color: #fff;
          text-align: center;
      }

      /* Style header */
      header {
          background-color: orangered;
          padding: 20px 0;
          color: #fff;
          border-radius: 10px;
      }

      header h1 {
          font-size: 36px;
          margin: 0;
          font-family: 'Times New Roman', Times, serif;
          color: white;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }

      header p {
          font-size: 18px;
          margin: 10px 0;
      }

      /* Style sections */
      section {
          padding: 20px 0; /* Minimize space between sections */
          text-align: center;
      }

      section h2 {
          font-size: 30px;
          margin: 0;
          color: #007bff;
          margin-bottom: 20px;
      }

      section p {
          font-size: 18px;
          margin: 10px 0;
      }

      /* Style lists */
      ul {
          padding-left: 20px;
          list-style-type: square;
          text-align: left;
      }

      ul li {
          font-size: 18px;
          margin-bottom: 10px;
          line-height: 1.6;
      }

      /* Style footer */
      footer {
          background-color: orangered;
          padding: 10px 0;
          color: #fff;
          border-radius: 10px;
          cursor: pointer;
      }

      footer p {
          font-size: 16px;
          margin: 0;
      }
      
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .section-heading {
        font-size: 20px;
    }
